/*.image {
	width: 300px;
	height: 300px;
}*/
body {
	padding-top: 100px;
}

.navbar-default {
	background: #0B4F75;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.jumbotron {
	background: #AC967F;
	color: #2c3e50;
}